.text-container {
    width: 200px;
    height: 5em;
    /*overflow: hidden; */
    font-size: 1em;
    margin-bottom: 1em;
    text-indent: 1em;
    line-height: 1em;
    padding: 3px;
    word-wrap: break-word
}